body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

#dashboard {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 40px;
}

#chart {
    margin: 0 auto;
    max-width: 1000px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
}

.axis text {
    fill: #fff;
}

.bar {
    fill: steelblue;
}

.line {
    fill: none;
    stroke: tomato;
    stroke-width: 2;
}

.area {
    fill: lightgreen;
    opacity: 0.5;
}
